/* You can add global styles to this file, and also import other style files */
/* @import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }

  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/*HEADER*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: "#00000";
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#header h2 {
    color: #045c64;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #045c64;
}

#navbar li a:hover,
#navbar li a.active {
    color: #7dacb4;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #7dacb4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#lblCartCount {
    font-size: 10px;
    background: #ff0000;
    color: #fff;
    padding: 2 2px;
    vertical-align: top;
    margin-left: -9px;
    margin-top: -5px;
    border-radius: 50%;
}


/*HOMEPAGE*/

#dashboard {
    background-image: url("/assets/image/dashboard.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#dashboard h4 {
    padding-bottom: 15px;
}

#dashboard h2 {
    padding-bottom: 5px;
    color: #045c64;
}



#dashboard p {
    font-weight: 400;
    color: #000000;
}

#dashboard button {
    background-color: "#00000";
    color: #045c64;
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    border: 0;
    padding: 14px 60px 14px 60px;
    background-repeat: no-repeat;
}

#dashboard button a {
    text-decoration: none;
    text-style: none;
    color: #045c64;
}


/* 
 * ----------------------------
 * Products List
 * ----------------------------
 */
/* .navbar {
    color: #045c64;
} */
#navbarNavDarkDropdown > ul > li > a {
    color:#045c64;
}

#navbarNavDarkDropdown > ul > li > ul > li > a {
    color:#045c64;
}

#product {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#product .pro {
    width: 100%;
    height: 350px;
    /* min-width: 250px; */
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.product-box {
    width: 100%;
}

#product .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product .pro img {
    width: 100%;
    border-radius: 10px;
}

#product .pro a {
    text-decoration: none;
}

#product .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product .pro .des span {
    color: #606063;
    font-size: 10px;
}

#product .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product .pro .des h4 {
    padding-top: 7px;
    color: #088178;
    font-size: 15px;
    font-weight: 700;
}

#product .pro .cart {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* 
 * ----------------------------
 * Product Details List
 * ----------------------------
 */
#product-details {
    display: flex;
    margin: 20px 0;
}

#product-details .single-pro-img {
    width: 40%;
    margin-right: 50px;
}

#product-details .single-pro-img img {
    width: 100%;
}

#product-details .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#product-details .single-pro-details h4 {
    padding: 30px 0px 20px 0;
}

#product-details .single-pro-details h2 {
    font-size: 26px;
    padding-bottom: 15px;
}

#product-details .single-pro-details input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#product-details .single-pro-details input:focus {
    outline: none;
}

#product-details .single-pro-details button {
    background: #088178;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}

#product-details .single-pro-details span {
    line-height: 25px;
}

#back-button {
    background: #088178;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
}

/* 
 * ----------------------------
 * Footer section
 * ----------------------------
 */

.footer ul li a {
    color: #fff
}

footer {
    background: #fff;
    /* color: #088178; */
    z-index: 1;
    position: relative;
    text-align: center;
    ;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
}

footer li a {
    color: #088178;
    font-weight: 500
}

footer ul li {
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
}

/* Start media query */
@media (min-width:992px) and (max-width:1199px) {
    #navbar li {
        padding: 0 10px;
    }
}

@media (max-width:991px) {
    #navbar li {
        padding: 0 2px;
    }

    /* #lblCartCount {
        font-size: 10px;
        background: #ff0000;
        color: #fff;
        padding: 2 2px;
        vertical-align: top;
        margin-left: 5px;
        margin-top: -30px;
        border-radius: 50%;
    } */
}

@media (max-width:799px) {
    #header h2 {
        font-size: 25px;
    }

    #product .product-box {
        justify-content: center;
    }

    #product .pro {
        margin: 15px;
    }

    #navbar li a {
        font-size: 12px;
    }

    /* #lblCartCount {
        font-size: 10px;
        background: #ff0000;
        color: #fff;
        padding: 2 2px;
        vertical-align: top;
        margin-left: -10px;
        border-radius: 50%;
    } */
}

@media (max-width:477px) {
    #product .product-box {
        justify-content: center;
    }

    #product .pro {
        width: 100%;
    }

    #product-details {
        display: flex;
        flex-direction: column;
    }

    #product-details .single-pro-img {
        width: 100%;
    }

    #product-details .single-pro-img img {
        width: 100%;
    }

    #product-details .single-pro-details {
        width: 100%;
        margin-left: 10px;
    }

    /* #lblCartCount {
        font-size: 8px;
        background: #ff0000;
        color: #fff;
        padding: 2 2px;
        vertical-align: top;
        margin-left: 12px;
        margin-top: -30px;
        border-radius: 50%;
    } */
}