.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left : 15px;
    margin-top : 15px;
    display: block;
}


.popup-content {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.popup-field {
    padding: 20px;
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.image-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}

.image-item {
    min-width: 150px;
    margin-right: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.popup-actions {
    display: flex;
    justify-content: flex-end;
    /* Align actions to the right */
}


.errMsg {
    color: #b30909;
    font-size: 12px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    margin: 10px;
    text-align: center;
}

.image-item img {
    width: 120px;
    height: 120px;
    cursor: pointer;
}