/* @import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
} */

/* Global Styles */

/* h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
} */

/*HEADER*/

/* #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: "#00000";
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#header h2 {
    color: #045c64;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #045c64;
}

#navbar li a:hover,
#navbar li a.active {
    color: #7dacb4;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #7dacb4;
    position: absolute;
    bottom: -4px;
    left: 20px;
} */


/*HOMEPAGE*/

/* #dashboard {
    background-image: url("/assets/image/dashboard.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#dashboard h4 {
    padding-bottom: 15px;
}

#dashboard h2 {
    padding-bottom: 5px;
    color: #045c64;
}



#dashboard p {
    font-weight: 400;
    color: #000000;
}

#dashboard button {
    background-color: "#00000";
    color: #045c64;
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    border: 0;
    padding: 14px 60px 14px 60px;
    background-repeat: no-repeat;
}

#dashboard button a {
    text-decoration: none;
    text-style: none;
    color: #045c64;
} */

/*CART*/

/* #cart { */
	/* background-color: ; */
/* } */

/* #cart table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
}

#cart table img{
	width: 140px;
}

#cart table td:nth-child(1){
	width: 100px;
	text-align: center;
}

#cart table td:nth-child(2){
	width: 150px;
	text-align: center;
}

#cart table td:nth-child(3){
	width: 250px;
	text-align: left;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
	width: 150px;
	text-align: center;
}

#cart table td:nth-child(5) input{
	width: 70px;
	padding: 10px 5px 10px 15px;
}

#cart table thead {
	border: 1px solid #e2e9e1;
	border-left: none;
	border-right: none;
}

#cart table thead td{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	padding: 18px 0;
}

#cart table tbody tr td{
	padding-top: 15px;
}

#cart table tbody td{
	font-size: 13px;
}

#cart-add{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#placehold{
	width: 50%;
	margin-bottom: 30px;
}

#placehold h3,
#subtotal h3 {
	padding-bottom: 15px;
}

#placehold input{
	padding: 10px 20px;
	outline: none;
	width: 60%;
	margin-right: 10px;
	color: 1px solid #e2e9e1;
}

#placehold button{
	background-color: #249454;
	color: #fff;
	font-weight: 700;
    font-size: 15px;
	padding: 11px 20px;
	border: none;
}

#subtotal {
	width: 50%;
	margin-bottom: 30px;
	border: 1px solid #e2e9e1;
	padding: 30px;
}

#subtotal table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

#subtotal table td {
	width: 50%;
	border: 1px solid #e2e9e1;
	padding: 10px;
	font-size: 13px;
}

#subtotal button {
	float: right;
    background-color: #249454;
	color: #fff;
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    border: 0;
    padding: 14px 60px 14px 60px;
    background-repeat: no-repeat;
} */