.popup-title {
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}

.product-list {
    max-width: 600px; /* Set a maximum width */
}

.product-item p {
    display: flex;
    justify-content: space-between; /* Space out items */
    align-items: center; /* Align items in the center */
    margin-bottom: 10px; /* Space between items */
}

.price {
    width: 100px; /* Fixed width for price */
}

.quantity {
    width: 50px; /* Fixed width for quantity */
    text-align: right; /* Right-align the quantity */
}


