<section id="auth">
  <!-- if user auth, show profile and logout button -->
  <div *ngIf="isLoggedIn">
    <div class="row justify-content-center mt-5">
      <div class="col-4">
        <div class="cart">
          <div class="cart-body">
            <div class="row">
              <div class="col text-center">
                <p>{{userName}}</p>
                <p>{{userEmail}}</p>
                <ng-template [ngIf]="userRole == 'C'">
                  <i class="fa fa-angle-right" aria-hidden="true"></i><a href="/order-history"
                    style="font-size: 12px; text-decoration: none;"> View Order History</a>
                </ng-template>
                <p></p>
              </div>
            </div>

            <div class="row mb-5">
              <div class="col text-center">
                <button type="button" (click)="logout()" class="btn btn-sm btn-success">
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- if user not auth, show sign in with Google button -->
  <div *ngIf="!isLoggedIn">
    <div class="row justify-content-center mt-5 px-5">
      <div class="flex flex-1">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col d-grid">
                <button type="button" (click)="signIn()" class="btn btn-lg btn-primary">
                  <i class="fab fa-google mr-2"></i> Sign in with Google
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
